[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
filterpy = "*"
font-source-serif-pro = "*"
fonts = "*"
matplotlib = "*"
motmetrics = "*"
numpy = "*"
opencv-contrib-python = "*"
pillow = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
sklearn = "*"
torchvision = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.6"
